#imageCard:hover{
    transform: scale(1.2);
    transition: transform 0.9s ease;
}
#cardEffect{
    border: 2px solid #000;
    transition: border 0.3s ease, box-shadow 0.3s ease;
} 
#cardEffect:hover{
    box-shadow: 0 0 20px 4px rgb(255, 217, 0);
    border: 2px solid #fff200;
}
#imageCard{
    width: 320px;
    height: 420px;
    z-index: 2;
    transform: translate(0%, -5%);
    position: absolute;
    object-fit: contain;
    background: transparent;
}

.textCardGeneral{ 
    position: relative;
    z-index: 3;
}
#styleTitle{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 24px;
    margin-bottom: 5px;
}
#textCard{
    font-size: 14px;
    
}
#contentCard{
    background-color: rgb(253, 137, 5);
}
#cardEffect:hover #contentCard{
  background: linear-gradient(90deg, rgb(253, 137, 5), rgb(255, 204, 2));
  background-size: 400% 400%;
  animation: 3s gradient infinite;
}
@keyframes gradient{
  0% {background-position: 0% 50% ;}
  50% {background-position: 100% 50% ;}
  100% {background-position: 0% 50% ;}
} 

@media (max-width: 480px) {
    #cardEffect {
      width: 100%;
      max-width: 100%;
    }
  
    #imageCard {
      width: 100%;
      height: 60%;
      max-width: 100%;
      transform: translateY(-5%);
      left: 0;
      right: 0;
    }
  
    #styleTitle {
      font-size: 18px;
    }
  
    #textCard {
      font-size: 12px;
    }
  }