main{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px 20px;
    justify-content: space-evenly;
    background: linear-gradient(180deg, #000000 40%, #050068 100%);
}

#pagination{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}
